.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  border: 3px solid #666666;  
  box-sizing: border-box;
  background-color: #303030; 
}

.title {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #666666;
  box-sizing: border-box;
}

.input {
  height: 50%;
  border: none;
  outline: none;  
  box-sizing: border-box;
  text-align: center;
  font-family: "Minecraft Regular";
  color: white;
  background-color: #4b4949;
}