.layer {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.active {
  border: 1px solid tomato;
}

.active .top {
  border-bottom: 1px solid tomato;
}

.active .delete, .active .copy {
  border-left: 1px solid tomato;
}

.active .delete {
  border-bottom: 1px solid tomato;
}

.active .copy {  
  border-top: 1px solid tomato;
}

.top {
  width: 100%;
  height: 80%;  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  overflow: hidden;
}

.delete, .copy {
  z-index: 5;
  padding: 0px 5px;
  border-left: 1px solid white;
  margin: 0;  
  box-sizing: border-box;
  background-color: #444;
}

.delete {
  border-bottom: 1px solid white;
}

.copy {
  border-top: 1px solid white;
}

.bottom {
  width: 100%;
  text-align: center;
}

.preview {
  width: 2px;
  height: 2px;
  position: absolute;
  top: -2px;
  left: -2px;
}