.scale {  
  width: 200px;
  height: 20px;
  position: relative;
}

.layer {
  width: 100%;
  height: 100%;
}

.setter {  
  width: 10px;
  height: 100%;
  position: absolute;
  top: -2px;
  border: 2px solid white;  
}