.button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-bottom: 3px solid #666666;
  box-sizing: border-box;
  background-color: #303030;  
  cursor: pointer;
}