.load {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}

.title {
  width: 80%;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.projectList {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.9);
}

.project {
  position: relative;
  margin: 2rem 3rem;
  padding: 2.5rem;
  border: 2px solid black;
  cursor: pointer;
}

.projectActive {
  border: 2px solid tomato;
}

.projectActive .delete {  
  border-bottom: 2px solid tomato;
  border-left: 2px solid tomato;
}

.delete {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 0 5px 0 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  color: black;
}

.close {
  position: fixed;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}