.scale {
  width: 200px;
  height: 200px;
  position: relative;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgb(127, 127, 127), transparent);
}

.setter {
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid white;
  box-sizing: border-box;  
  background-color: transparent;
}