.info {
  z-index: 100;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
}

.inner {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 1.25rem;
  color: black;
  background-image: linear-gradient(to right, transparent, white, transparent);
}