html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Minecraft Regular';
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Minecraft Regular';
  src: 
    url('./fonts/1_Minecraft-Regular.eot') format('eot'),
    url('./fonts/1_Minecraft-Regular.woff') format('woff'),
    url('./fonts/1_Minecraft-Regular.ttf') format('truetype'),
    url('./fonts/1_Minecraft-Regular.svg#Minecraft-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}