.app {
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  position: relative;    
  padding: 0 30px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1300px;
  min-width: 990px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
