.projectList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  font-size: 1rem;
  background-color: #444;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 3rem;
}

.project {
  position: relative;
  padding: 3rem;
  border: 1px solid white;
}

.delete, .editor, .share {
  position: absolute;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.delete {
  top: 0;
  right: 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.editor {
  bottom: 0;
  left: 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.share {
  bottom: 0;
  right: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.autor {
  margin-top: 0.5rem;
}

.autor a:hover,
.editor:hover,
.share:hover,
.delete:hover {
  color: tomato;
}