.toggler, .togglerActive {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666666;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
}

.togglerActive {
  border: none;
  color: white;
  background-color: #303030;
}