.auth {
  z-index: 99;  
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.inner {
  width: 300px;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  background-color: white
}

.togglers {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 1rem 0;
}

.toggler {
  width: 50%;
  height: 40px;
}

.message {
  color: tomato;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 100%;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #666666;
  padding: 0.5rem 0;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.form button {
  width: 75%;
  margin-top: 2rem;
  outline: none;
  border: none;
  border-bottom: 3px solid seagreen;
  padding: 0.5rem 0;
  font-family: 'Minecraft Regular';
  color: white;
  background-color: mediumseagreen;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}