.editor {
  width: 100%;
  position: relative;
}

.layers {
  width: 100%;
  height: 100px;
  margin-bottom: 2rem;
}

.columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left, .right {
  width: 25%;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.center {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}