.left {
  width: 240px;
}

.left > * {
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons .button {
  width: 49%;
}

.button {
  width: 100%;
  height: 50px;
}