.right {
  width: 240px;
}

.right > * {
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  height: 50px;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.counter > span:nth-child(1) {
  width: 20%;
  text-align: center;
  color: white;
}

.counter > span:nth-child(2) {
  width: 75%;
  height: 100%;
}


.input {
  width: 100%;
  height: 80px;
}