.scale {
  width: 20px;
  height: 200px;
  position: relative;
}

.alpha {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../image/alpha.jpg');
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.setter {  
  width: 100%;
  height: 10px;
  position: absolute;
  left: -2px;
  border: 2px solid white;  
}