.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0;
}

.title {
  margin-top: 0;
  margin-bottom: -9px;
  margin-left: 2px;
  font-size: 3.5rem;
}