.userbar {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: flex-end;
}

.togglers {
  display: flex;
}

.toggler {
  height: 50px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.name {
  padding: 0.5rem;
  font-size: 2rem;
  background-color: #303030;
}