.layers {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #444;
  overflow: hidden;
}

.layers * {
  margin-right: 0.5rem;
}

.button {
  min-width: 40px;
  height: 100%;
}

.layer {
  min-width: 100px;
  height: 100%;
}