.palette {
  width: 240px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 35px;
  height: 35px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.item:nth-child(6n) {
  margin-right: 0;
}

.active {
  border: 3px solid #ffffff;
  box-sizing: border-box;
}