.modal {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;    
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}

.togglers {
  display: flex;
}

.toggler {
  width: 200px;
  height: 40px;
}

.close {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.project {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 1rem;
  border: 1px solid black;
  box-sizing: border-box;
  overflow-x: auto;
  cursor: pointer;
}

.code {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  font-family: 'Courier New', Courier, monospace;
  color: #bbb;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #313131;
}

.code span {
  margin-left: 0.5rem;
  white-space: nowrap;
}