.picker {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
}

.preview {
  min-width: 20px;
  min-height: 20px;
  border: 1px solid white;
  box-sizing: border-box;
}