.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  background-color: #444;
}

.active {
  background-color: #303030;
}