.canvas {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.canvas::before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #585858;
}

.canvas::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #585858;
}