.counter {
  width: 100%;
  height: 100%;
  display: flex;
  border: 3px solid #666666;  
  box-sizing: border-box;
  background-color: #303030;
}

.input {
  width: 50%;
  border: none;
  outline: none; 
  box-sizing: border-box;
  text-align: center;
  font-family: "Minecraft Regular"; 
  color: white;
  background-color: #4b4949;
}

.controls {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.button {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-left: 3px solid #666666;
  background-color: transparent;
  cursor: pointer;
}

.button:nth-child(1){
  border-bottom: 3px solid #666666;
}